@model List<WeatherInfoVM>
@{
    ViewData["Title"] = "Weather App";
    var nowaday = DateTime.Now;
    Calendar cal = CultureInfo.CurrentCulture.Calendar;

}

<div class="container shadow-lg p-3 mb-5 bg-white rounded contmrg">
    <div style="padding: 50px;">
        <div class="row align-items-center">
            <div class="col-4"><h1>@ViewBag.CityName</h1></div>
            <div class="col-8">
                <h3>7 Day Weather Forecast </h3>
            </div>
            <div class="col-4">
                <h5>Today</h5>
                <label>Temperature : </label>
                <span class="badge badge-info">@Model[0].Temp °C</span>
                <br />

                <label>Wind Speed : </label>
                <span class="badge badge-info">@Model[0].Wind Km/h</span>
                <br />

                <label>Pressure : </label>
                <span class="badge badge-info">@Model[0].Pressure Hpa</span>
                <br />

                <label>Humidity : </label>
                <span class="badge badge-info">@Model[0].Humidity %</span>
                <br />

                <label>Cloudness : </label>
                <span class="badge badge-info">@Model[0].Cloudness %</span>
                <br />

                <label>Weathe Condition : </label>
                <span class="badge badge-info">@Model[0].WeatherCondition</span>
            </div>

            <div class="col-8">

                <table class="table table-borderless">
                    <thead>
                        <tr>
                            @for (int i = 1; i < 8; i++)
                            {
                                <th scope="col">@cal.GetDayOfWeek(nowaday.AddDays(i))</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            @for (int i = 1; i < 8; i++)
                            {
                                <td>@Model[i].Temp °C</td>
                            }
                        </tr>
                        <tr>
                            @for (int i = 1; i < 8; i++)
                            {
                                <td>@Model[i].WeatherCondition</td>
                            }
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>